.Login, .Signin {
  text-align: center;
}
h1 {
  margin-bottom: 1.5rem;
}
form {
  width: 25%;
  margin: auto;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}
form > input {
  padding: 20px;
  font-size: large;
  border: none;
}
form > input:last-child {
  cursor: pointer;
  background-color: rgb(13, 66, 109);
  color: white;
}
