.Header {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
}
.Header > a > button {
  padding: 1.5rem;
  font-size: large;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  background-color: rgb(18, 77, 126);
  color: white;
}
.Header > a > button:hover {
  background-color: rgb(22, 90, 145);
}
.WorkoutDivs {
  width: 80%;
  margin: auto;
}
.WorkoutDivs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.WorkoutDivs > a {
  text-decoration: none;
}
.WorkoutDivs > a > div {
  background-color: white;
  text-align: center;
  padding: 0px 0px 7px 0px;
  cursor: pointer;
  color: purple;
}
.WorkoutDivs > a > div:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.WorkoutDivs > a > div > p {
  font-size: 1.3rem;
  padding: 20px 0px;
}
.WorkoutDivs > a > div > img {
  width: 100%;
}
.Detailed1 {
  width: 80%;
  margin: auto;
}
.Detailed1 > h1 {
  text-align: center;
  margin-bottom: 2.5rem;
}
.Detailed1 > .Description > p {
  text-align: justify;
  margin-bottom: 0.8rem;
  font-size: 1.2rem;
  line-height: 2rem;
  letter-spacing: 1px;
}
.Detailed1 > .Description > p > button {
  font-size: medium;
  padding: 4px 8px;
  cursor: pointer;
}
