.Header {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
}
.Header > a > button {
  padding: 1.5rem;
  font-size: large;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  background-color: #38b6ff;
  font-weight: 600;
  color: white;
}
.Header > a > button:hover {
  background-color: #3cb0f3;
}
.WorkoutDivs {
  
  width: 80%;
  margin: auto;
  height: 500px;
}
